[Unit]
Description=PillPal Auto Startup (AP + Server + Kiosk)
After=network.target
Wants=network.target

[Service]
Type=simple
User=pi
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/pi/.Xauthority

# Call the wrapper script
ExecStart=/bin/bash /home/pi/pill-pal/start-pillpal.sh

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
