h1 {
    font-size: 36px;
}

li, p {
    font-size: 22px;
}

#time {
    /* color: aliceblue; */
    /* background-color: rgb(10, 39, 66); */
    font-size: 36px;
    padding: 5px;
    margin: 0 auto;
    width: max-content;
    text-align: center;
}

#menuButton {
    width: max-content;
    height: max-content;
    font-size: 40px;
    border-radius: 10px;
    background-color: rgb(0, 162, 211);
    border: 1px solid rgb(0, 162, 211);
    position: fixed;
    top: 10px;
    right: 20px;
}

#sidePane {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    transition: left 0.3s ease;
    z-index: 1000;
}

#sidePane a {
    margin-left: 20px;
    margin-top: 20px;
    text-decoration: none;    
    color: rgb(0, 162, 211);          
    font-weight: bold;
    font-size: 30px;

}

#sidePane a:hover {
    color: rgb(0, 109, 143); 
}

#sidePane.open {
    left: 0;
    box-shadow: 20px 0 5px rgba(0, 0, 0, 0.2);
}

.counter-value {
    font-weight: bolder;
}


/* div {
    border: 1px solid rgb(255, 0, 0);
} */

body {
    /* background-color:rgb(0, 162, 211); */
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    margin-left: 10px;
}

#schedule-div {
    position: fixed;
    top: 400px;
    height: fit-content;
    width: 460px;
}
div {
    /* background-color: aliceblue; */
    border-radius: 8px;
}

#schedule-div ul {
    list-style-type: none;
    padding: 0px;
    margin-left: 20px;
}

#schedule-div {
    position: fixed;
    top: 500px;
    overflow-y: auto;
    height: 300px;
}

h1 {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#notification-div {
    padding-top: 0px;
    margin-top: 0px;
    height: 300px;
    overflow-y: auto;
}

.noti-btn,
#backbutton {
    margin-left: 18px;
    border-radius: 10px;
    height: 40px;
    background-color: aliceblue;
    border: 1px solid aliceblue;
    background-color: rgb(0, 162, 211);
    font-weight: bold;
    font-size: large;
}

#reset-noti-btn {
    position: fixed;
    bottom: 0px;
    margin-left: 0px;
    align-items: center;
    width: 300px;
    height: 40px;
    background-color: aliceblue;
    border: 1px solid rgb(250, 76, 76);
    background-color: rgb(250, 76, 76);
    font-weight: bold;
    font-size: large;
}

#reset-noti-btn:active {
    background-color: rgb(194, 59, 59);
    border: 1px solid rgb(194, 59, 59);
}

#reload-btn {
    position: fixed;
    bottom: 45px;
    margin-left: 0px;
    align-items: center;
    width: 300px;
    height: 40px;
    background-color: aliceblue;
    border: 1px solid rgb(0, 162, 211);
    background-color: rgb(0, 162, 211);
    font-weight: bold;
    font-size: large;
}

#pill-ul {
    margin-left: 0px;
    padding-left: 0px;
}

#backbutton {
    margin-left: 0px;
}

*::-webkit-scrollbar {
width: 40px;
}

*::-webkit-scrollbar-track {
background: #ddd;
border-radius: 10px;
}

*::-webkit-scrollbar-thumb{
background: #555;
border-radius: 10px;
border: 4px solid #ddd;
}

*::-webkit-scrollbar-thumb:hover{
background: #333;
}
