<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main page</title>

    <link rel="stylesheet" href="../static/css/style_login.css">
    <link rel="stylesheet" href="../static/css/style_main.css">
</head>
<body>

    <button id="menuButton">☰</button>

    <div id="sidePane">
        <a href="/schedule">View schedule</a>
        <a href="/managepills">View current pills</a>
    </div>

    <div id="time">Loading time...</div>

    <br><br>
    <div id="notification-div">
        <h1>Notifications:</h1>
    </div>

    <br><br>
    <div id="schedule-div">
        <h1>Today's Schedule:</h1>

    </div>

    <br><br>
    <div id="counter-div">
        <h1>Dosage Counter:</h1>
        <p><span id="counter-ontime" class="counter-value">1</span> Dose(s) taken on time</p>
        <p><span id="counter-late" class="counter-value">2</span> Dose(s) taken late</p>
        <p><span id="counter-missed" class="counter-value">3</span> Dose(s) missed</p>
    </div>


    <script src="/UserInterface/Standalone/static/requester.js"></script>
    <script src="../static/js/script.js"></script>
</body>
</html>