<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Current Pills</title>

    <link rel="stylesheet" href="../static/css/style_login.css">
    <link rel="stylesheet" href="../static/css/style_main.css">
</head>
<body>

    <h1>Current Pills</h1>

    <ul id="pill-ul"></ul>

    <button id="backbutton">Back</button>

    <script src="../static/js/managepills.js"></script>
</body>
</html>